<div class="p-2">
    <img src="assets/images/kava-white-bg.png"
         class="mx-auto d-block img-fluid"/>
</div>
<div>
    <h2>Please login</h2>
    <form name="loginForm" ng-init="user.successStatus=false;user.errorMessage=undefined">


        <div class="row">
            <div class="col-md-6  pt-1">
                <label for="email">Email

                </label>
                <input type="email" ng-model='user.loginFormData.email'
                       ng-class="{'has-error-input' : loginForm.email.$invalid&&loginForm.email.$dirty}"

                       ng-pattern="user.regex.email"
                       class="form-control form-control-lg" required name="email" id="email">


            </div>
        </div>

        <div class="row">
            <div class="col-md-6 pt-1">
                <label for="password">Password

                </label>
                <input type="password" ng-model='user.loginFormData.password'
                       ng-class="{'has-error-input' : loginForm.password.$invalid&&loginForm.password.$dirty}"

                       class="form-control form-control-lg" required name="email" id="password">


            </div>
        </div>

        <div class="" ng-if="user.errorMessage">
            <div class="col-md-12 mt-2  alert btn-danger">
                {{user.errorMessage}}
            </div>

        </div>

        <div class="row">
            <div class="col-md-6 pt-3">

                <button ng-click="user.signin(user.loginFormData)"
                        ng-disabled="loginForm.$invalid||user.saveStatus"
                        class="btn btn-block btn-lg bg-orange">
                    Login <i ng-show="user.saveStatus" class="fas fa-ellipsis-h"></i>
                </button>

            </div>

        </div>
        <div class="row">
            <div class="col-md-6 pt-3 text-center">
                <a href="#/register" class="text-orange">
                    Register
                </a>

            </div>

        </div>

    </form>
</div>