<div class="p-2">
    <img src="assets/images/kava-white-bg.png"
         class="mx-auto d-block img-fluid"/>
</div>
<div ng-init="user.successStatus=false;user.errorMessage=undefined">
    <h2>Welcome to registration page</h2>
    <form name="userForm" novalidate="" role="form" ng-show="!user.successStatus">


        <div class="row">
            <div class="col-md-6  pt-1">
                <label for="fullname">Fullname

                </label>
                <input type="text" ng-model='user.userFormData.fullname'
                       ng-class="{'has-error-input' : userForm.fullname.$invalid&&userForm.fullname.$dirty}"

                       ng-pattern="user.regex.name"
                       class="form-control form-control-lg" required name="fullname" id="fullname">
                <span class="text-danger"
                      ng-show="userForm.fullname.$invalid&&userForm.fullname.$dirty">
                                                Please enter a valid name
                  </span>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6  pt-1">
                <label for="email">Email

                </label>
                <input type="text" ng-model='user.userFormData.email'
                       ng-class="{'has-error-input' : userForm.email.$invalid&&userForm.email.$dirty}"

                       ng-pattern="user.regex.email"
                       class="form-control form-control-lg" required name="email" id="email">

                <span class="text-danger"
                      ng-show="userForm.email.$invalid&&userForm.email.$dirty">
                                                Please enter a valid email address
                  </span>


            </div>
        </div>

        <div class="row">
            <div class="col-md-6 pt-1">
                <label for="fullname">Password

                </label>
                <input type="password" ng-model='user.userFormData.password'
                       ng-class="{'has-error-input' : userForm.password.$invalid&&userForm.password.$dirty}"

                       class="form-control form-control-lg" required name="email" id="password">


            </div>
        </div>
        <div class="row">
            <div class="col-md-6 pt-1">
                <label for="fullname">Confirm Password

                </label>
                <input type="password" ng-model='user.userFormData.cpassword'
                       ng-class="{'has-error-input' : userForm.email.$invalid&&userForm.cpassword.$dirty}"

                       class="form-control form-control-lg" required name="email" id="cpassword">

                <span class="has-error"
                      ng-show="user.userFormData.cpassword!=user.userFormData.password">
                                Passwords do not match
                </span>
            </div>
        </div>
        <div class="" ng-if="user.errorMessage">
            <div class="col-md-12 mt-2  alert btn-danger">
                {{user.errorMessage}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 pt-3">
                <button
                        ng-click="user.register(user.userFormData)"
                        ng-disabled="userForm.$invalid||user.saveStatus"
                        class="btn btn-block btn-lg bg-orange">
                    Register
                </button>

            </div>

        </div>

    </form>
    <div class="row" ng-if="user.successStatus">
        <div class="col-md-12 p-3 m-2 bg-orange">
            {{user.successStatus}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 pt-3 text-center">
            <a href="#/login" class="text-orange">
                Login
            </a>

        </div>

    </div>
</div>