<div class="col-xs-12">
    <h2>My Profile</h2>
    <div class="text-center mt-3">

        <button style="height: 5em;width: 5em;font-size: 1.5em"
                class="btn rounded-circle mx-auto bg-orange  text-center">
            KA
        </button>
    </div>
    <div class="text-center mt-2" ng-if="!user.showEditProfile">
        <h3>
            {{user.loggedInUserDetails.fullname}}

        </h3>
        <p>
            {{user.loggedInUserDetails.email}}
        </p>
        <a href="" ng-click="user.updateUserProfileForm()" class="text-primary">
            <i class="fas fa-edit"></i>
        </a>
    </div>

    <div class="" ng-if="user.showEditProfile">
        <form name="updateForm">


            <div class="row">
                <div class="col-md-6  pt-1">
                    <label for="fullname">Fullname

                    </label>
                    <input type="text" ng-model='user.userFormData.fullname'
                           ng-class="{'has-error-input' : updateForm.fullname.$invalid&&updateForm.fullname.$dirty}"

                           ng-pattern="user.regex.name"
                           class="form-control form-control-lg" required name="fullname" id="fullname">



                </div>
            </div>
            <div class="row">
                <div class="col-md-6  pt-1">
                    <label for="fullname">Email

                    </label>
                    <input type="text" ng-model='user.userFormData.email'
                           ng-class="{'has-error-input' : updateForm.email.$invalid&&updateForm.email.$dirty}"

                           ng-pattern="user.regex.email"
                           class="form-control form-control-lg" required name="email" id="email">



                </div>
            </div>

            <div class="row">
                <div class="col-md-6 pt-3">
                    <button
                            ng-click="user.updateProfile(user.userFormData)"
                            class="btn btn-block btn-lg bg-orange">
                        Update Account
                    </button>

                </div>

            </div>

        </form>
    </div>

</div>
