/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}


.navbar-brand {
    padding: 0px;
    width: 250px !important;
    margin-top: 0px !important;
    background-color: #4bde72 !important;
    text-align: center;
}
.logout{
    color : #4bde72;
    cursor: pointer;
}

.fixed-top a{
    color: black!important;
}

.navbar-brand > img {
    height: 100%;
    padding: 10px;
    width: auto;

}

.nav-countries{
    padding-left: 50px;
}

@media (max-width: 600px) {
    .content-menu-icon {
        display: none !important;
    }

}


@media (min-width: 601px) {
    .content-menu-icon-custom {
        display: none !important;
        padding: 10px;
    }

    .navbar {
        padding-left: 0 !important;
        padding-bottom: 0 !important;
        padding-top: 0 !important;
    }
}



a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    margin-top: 63px;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: white;
    border: 1px solid #f2f2f2;
    color: lightgray;

    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -249px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 20px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: white;
    background: #f26d22 !important;
}

.menu-item {
    padding-left: 20px;
}

.bg-orange {
    background-color: #f26d22;
    color: white;
}
.text-orange {
    color: #f26d22;
}

.btn-clear {
    background-color: white;
    border: 1px solid lightgrey;
    color: lightgrey;
}


.customer-info {
    margin-bottom: 25px;
    border: none;
    box-shadow: -1px 1px 1px lightgrey;
}

.customer-contacts {
    color: grey;
    padding: 3px 0 3px 0;
}

.round-btn {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}


.modal-open {
    padding-right: 0px !important;
}

ody:not(.modal-open) {
    padding-right: 0px !important;
}

.modal-full {
    min-width: 100%;
    min-height: 100%;
    margin: 0;
}

.modal-header {
    height: 10em;
    position: relative;
}

.modal-container {
    margin-top: -100px;
    margin-bottom: 100px;
    background-color: white;
}

.modal-bg {
    background-color: #f2f2f2;
    min-height: 100%;
}

.modal-dialog {
    width: 100% !important;
    height: 100% !important;
    margin: 0;
    padding: 0;
}

.modal-custom-footer {
    padding-bottom: 10px;
    padding-top: 10px;
}

.has-error {
    color: red;


}

.has-error-input {
    border: 1px solid red!important;
    color: red!important;
}

span .has-error{
border: none;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}

ul.inbox-pagination {
    float: right;
}
ul.inbox-pagination li {
    float: left;
}

.mail-option {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}
.mail-option .chk-all, .mail-option .btn-group {
    margin-right: 5px;
}
.mail-option .chk-all, .mail-option .btn-group a.btn {
    background: none repeat scroll 0 0 #fcfcfc;
    border: 1px solid #e7e7e7;
    border-radius: 3px !important;
    color: #afafaf;
    display: inline-block;
    padding: 5px 10px;
}
.form-control{
    border-radius: 0;
    border: 1px none lightgrey;
    border-bottom-style: solid;
}