<div>
    <div class="">
        <img src="assets/images/kava-white-bg.png"
             class="mx-auto d-block img-fluid"/>
    </div>
    <div>
        <img src="assets/images/welcome.svg"
             class="mx-auto d-block img-fluid"/>
    </div>
    <div class="text-center text-primary">
        <p>
            Kava is the new way to save and invest towards your dreams and ambitions
        </p>
    </div>

    <div class="row pt-5">
        <div class="col-6 ">
            <a href="#/login" class="btn btn-secondary btn-block btn-lg col-12">
                Login
            </a>
        </div>
        <div class="col-6 ">
            <a href="#/register" class="btn btn-block btn-lg bg-orange col-12">
                Open Acc
            </a>
        </div>

    </div>
</div>