<div class="card customer-info">
    <div class="card-body text-center">
        <h1><i class="fa  fa-exclamation-triangle"></i></h1>
        <hr>
        <div class="media border p-3" style="border: none!important;">

            <div class="media-body">

                <div class="customer-contacts">OOPS<br>
                    Seems like we cannot find the page you looking for
                </div>


            </div>
        </div>
    </div>
</div>