<!DOCTYPE html>
<html id="ng-app" ng-app="appModule" ng-cloak="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Kava</title>
    <meta http-equiv="Content-Security-Policy" content="
              default-src *;
              connect-src *;
              style-src * 'unsafe-inline';
              script-src * 'unsafe-inline';
              media-src *; img-src * data:;
              "/>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
            integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
            integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
            crossorigin="anonymous"></script>


    <script src="angular/angular/angular.min.js"></script>

    <script src="angular/angular/angular-route.js"></script>


    <script src="angular/controllers/app.js"></script>
    <script src="angular/constants/constants.js"></script>
    <script src="angular/angular/angular-local-storage.min.js"></script>
    <script src="angular/services/app-services.js"></script>





</head>

<body ng-cloak=""
        ng-controller="MainController">

<nav ng-if="user.loggedInUserDetails"
        class="navbar navbar-expand-md navbar-dark fixed-top " style="justify-content: left;">







    <a type="" class="content-menu-icon" id="sidebarCollapse" style="color: black;" ng-click="user.togglemenu()">
        <i class="fas fa-bars fa-2x"></i>

    </a>




    <a type="" class="content-menu-icon-custom"
       id="sidebarCollapseCustom" style="color: #f26d22;"  ng-click="user.togglemenu()">
        <i class="fas fa-bars fa-2x"></i>
    </a>
    <div class="navbar-collapse collapse  order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <div>

                    <div class="media  p-3" style="padding: 0!important;">
                        <div class="media-body" style="padding-right: 10px;">


                            <div class="float-right">{{user.loggedInUserDetails.userFullname}}</div><br>
                            <small class="logout float-right" class="float-right">Log out</small>

                        </div>
                        <img src="assets/images/avatar.png"
                              alt="John Doe"
                             class="mr-3 mt-3 rounded-circle float-right" style="width:50px;margin-top: 0!important;">

                    </div>
                </div>
            </li>

        </ul>
    </div>

</nav>


<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar" ng-if="user.loggedInUserDetails">
        <ul class="navbar-nav animate side-nav">
            <li class="nav-item " ng-class="{'active': user.currentMenu=='account'}">
                <a class="nav-link" ng-click="user.updateCurrentMenu('account')"
                   href="#/user-profile"><i class="fas fa-user"></i> <span class="menu-item">My Account</span>

                </a>
            </li>

            <li class="nav-item" ng-class="{'active': user.currentMenu=='logout'}">
                <a class="nav-link" ng-click="user.logout()"
                   href=""> <i class="fas fa-power-off"></i> <span
                        class="menu-item">{{user.loggedInUserDetails.fullname}}</span>
                    <small class="logout"><i class="menu-item"></i><i class="menu-item"></i>Logout</small>
                </a>
            </li>

        </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content" ng-click="user.hidemenu()">
        <ng-view></ng-view>
    </div>
</div>
</body>

</html>
<script src="assets/js/slim.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {




    });


</script>
